body 	{ width: 100%; height: 100%; background-color: #FFFFFF; color: #060C0C; font-family: 'Josefin Sans'; font-size: 1rem; }
html 	{ width: 100%; height: 100%; }

.header	{ letter-spacing: 0.16em; }
.info 	{ letter-spacing: 0.16em; }
.picture{ height: 0.62em; background-color: #FFFFFF; white-space: nowrap; }
.tile	{ width: 1.86em; height: 0.62em; }

@media only screen and (max-width: 600px) {
	body{ font-size: 0.62rem; }
}